

<h1>Formulario de crear animal</h1>

{% for message in app.session.flashbag().get('message') %}
    <strong>{{ message }}</strong> <br>
{% endfor %}

{{ form_start(form) }}

{{ form_widget(form) }}

{{ form_end(form) }}

